compratio=3.5
messagescan=no

hd=default,vdbench=~/vdbench/vdbench50407,user=root,shell=ssh
hd=hd1,system=host1
hd=hd2,system=host2
hd=hd3,system=host3
hd=hd4,system=host4

fsd=default,depth=1,width=10,files=10,size=1g,openflags=directio
fsd=fsd01,anchor=/mnt/pblade/kdb107
fsd=fsd02,anchor=/mnt/pblade/kdb101
fsd=fsd03,anchor=/mnt/pblade/kdb108
fsd=fsd04,anchor=/mnt/pblade/kdb103
fsd=fsd05,anchor=/mnt/pblade/kdb109
fsd=fsd06,anchor=/mnt/pblade/kdb102

fwd=default,fileio=random,operation=read,xfersize=(512k),threads=50
fwd=fwd01,fsd=fsd*,hd=host1
fwd=fwd02,fsd=fsd*,hd=host2
fwd=fwd03,fsd=fsd*,hd=host3
fwd=fwd04,fsd=fsd*,hd=host4

rd=rd1,fwd=fwd*,fwdrate=max,format=restart,elapsed=20m,interval=60
