compratio=3.5
messagescan=no

hd=default,vdbench=/vdbench/vdbench50407,user=root,shell=ssh
hd=hd1,system=host1
hd=hd2,system=host2
hd=hd3,system=host3
hd=hd4,system=host4

fsd=default,depth=1,width=10,files=10,size=1g,openflags=directio
fsd=fsd01,anchor=/mnt/nfs/dir01
fsd=fsd02,anchor=/mnt/nfs/dir02
fsd=fsd03,anchor=/mnt/nfs/dir03
fsd=fsd04,anchor=/mnt/nfs/dir04
fsd=fsd05,anchor=/mnt/nfs/dir05
fsd=fsd06,anchor=/mnt/nfs/dir06
fsd=fsd07,anchor=/mnt/nfs/dir07
fsd=fsd08,anchor=/mnt/nfs/dir08

fwd=default,fileio=random,operation=read,xfersize=(512k),threads=50
fwd=fwd01,fsd=fsd*,hd=host1
fwd=fwd02,fsd=fsd*,hd=host2
fwd=fwd03,fsd=fsd*,hd=host3
fwd=fwd04,fsd=fsd*,hd=host4

rd=rd1,fwd=fwd*,fwdrate=max,format=restart,elapsed=20m,interval=60
