compratio=3.5
messagescan=no

hd=default,vdbench=~/vdbench/vdbench50407,user=root,shell=ssh
hd=hd1,system=10.0.0.1
hd=hd2,system=10.0.0.1
hd=hd3,system=10.0.0.1
hd=hd4,system=10.0.0.1

fsd=default,depth=1,width=10,files=10,size=1g,openflags=directio
fsd=fsd01,anchor=/mnt/folder01
fsd=fsd02,anchor=/mnt/folder02
fsd=fsd03,anchor=/mnt/folder03
fsd=fsd04,anchor=/mnt/folder04
fsd=fsd05,anchor=/mnt/folder05
fsd=fsd06,anchor=/mnt/folder06

fwd=default,fileio=random,operation=read,xfersize=(512k),threads=50
fwd=fwd01,fsd=fsd*,hd=hd1
fwd=fwd02,fsd=fsd*,hd=hd2
fwd=fwd03,fsd=fsd*,hd=hd3
fwd=fwd04,fsd=fsd*,hd=hd4

rd=rd1,fwd=fwd*,fwdrate=max,format=restart,elapsed=20m,interval=60
